USE [master]
GO
/****** Object:  Database [AccountShopDB]    Script Date: 07/20/2023 8:05:30 AM ******/
CREATE DATABASE [AccountShopDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'AccountShopDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\AccountShopDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'AccountShopDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\AccountShopDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [AccountShopDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [AccountShopDB]
GO
/****** Object:  Table [dbo].[AccountList]    Script Date: 07/20/2023 8:05:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AccountList](
	[accountID] [int] IDENTITY(1,1) NOT NULL,
	[productID] [int] NOT NULL,
	[email] [varchar](255) NULL,
	[password] [varchar](255) NULL,
	[dueDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[accountID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BalanceHistory]    Script Date: 07/20/2023 8:05:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BalanceHistory](
	[username] [varchar](50) NOT NULL,
	[status] [bit] NOT NULL,
	[amount] [int] NOT NULL,
	[reason] [varchar](50) NOT NULL,
	[date] [datetime] NOT NULL,
	[newBalance] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cart]    Script Date: 07/20/2023 8:05:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cart](
	[username] [varchar](50) NOT NULL,
	[productID] [int] NOT NULL,
	[quantity] [int] NOT NULL,
	[total] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CatalogList]    Script Date: 07/20/2023 8:05:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CatalogList](
	[catalogID] [varchar](50) NOT NULL,
	[catalogDisplayName] [nvarchar](255) NOT NULL,
	[catalogImg] [varchar](1000) NOT NULL,
 CONSTRAINT [PK_CatalogList] PRIMARY KEY CLUSTERED 
(
	[catalogID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DepositHistory]    Script Date: 07/20/2023 8:05:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DepositHistory](
	[requestID] [int] NOT NULL,
	[username] [varchar](50) NOT NULL,
	[amount] [int] NOT NULL,
	[requestDate] [datetime] NOT NULL,
	[status] [bit] NOT NULL,
	[actionDate] [datetime] NOT NULL,
	[actionBy] [varchar](50) NOT NULL,
	[reason] [varchar](50) NOT NULL,
 CONSTRAINT [PK_DepositHistory] PRIMARY KEY CLUSTERED 
(
	[requestID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DepositRequest]    Script Date: 07/20/2023 8:05:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DepositRequest](
	[requestID] [int] IDENTITY(1,1) NOT NULL,
	[username] [varchar](50) NOT NULL,
	[amount] [int] NOT NULL,
	[date] [datetime] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrdersHistory]    Script Date: 07/20/2023 8:05:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrdersHistory](
	[orderID] [int] IDENTITY(1,1) NOT NULL,
	[username] [varchar](50) NOT NULL,
	[accountID] [int] NOT NULL,
	[productID] [int] NOT NULL,
	[email] [varchar](255) NOT NULL,
	[password] [varchar](255) NOT NULL,
	[dueDate] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[orderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductList]    Script Date: 07/20/2023 8:05:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductList](
	[catalogID] [varchar](50) NOT NULL,
	[title] [nvarchar](255) NOT NULL,
	[type] [varchar](50) NOT NULL,
	[price] [int] NOT NULL,
	[shortDetail] [nvarchar](255) NOT NULL,
	[longDetail] [nvarchar](1000) NOT NULL,
	[productID] [int] IDENTITY(1,1) NOT NULL,
	[productImg] [varchar](1000) NOT NULL,
	[quantity] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[productID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductRate]    Script Date: 07/20/2023 8:05:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductRate](
	[rateID] [int] IDENTITY(1,1) NOT NULL,
	[username] [varchar](50) NOT NULL,
	[productID] [int] NOT NULL,
	[star] [int] NOT NULL,
	[comment] [nvarchar](255) NULL,
	[rateDate] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[rateID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RoleInformation]    Script Date: 07/20/2023 8:05:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RoleInformation](
	[roleID] [int] NOT NULL,
	[roleName] [varchar](50) NOT NULL,
 CONSTRAINT [PK_RoleInformation] PRIMARY KEY CLUSTERED 
(
	[roleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserBalance]    Script Date: 07/20/2023 8:05:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserBalance](
	[username] [varchar](50) NOT NULL,
	[balance] [int] NOT NULL,
 CONSTRAINT [PK_UserBalance] PRIMARY KEY CLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 07/20/2023 8:05:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[username] [varchar](50) NOT NULL,
	[password] [varchar](50) NOT NULL,
	[fullname] [nvarchar](50) NOT NULL,
	[email] [varchar](50) NOT NULL,
	[role] [int] NOT NULL,
	[isVerificated] [bit] NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[AccountList] ON 

INSERT [dbo].[AccountList] ([accountID], [productID], [email], [password], [dueDate]) VALUES (111, 14, N'tjuybfhgdvsc', N'mkiunybhtgvrfc', CAST(N'2023-08-30T00:00:00.000' AS DateTime))
INSERT [dbo].[AccountList] ([accountID], [productID], [email], [password], [dueDate]) VALUES (112, 14, N'mknuytjbhrvecfxw', N'mknuytbhrvgec', CAST(N'2023-08-30T00:00:00.000' AS DateTime))
INSERT [dbo].[AccountList] ([accountID], [productID], [email], [password], [dueDate]) VALUES (113, 14, N'tbjyhvdrgcsfx', N'ymknutjbhvdrcq', CAST(N'2023-08-30T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[AccountList] OFF
GO
INSERT [dbo].[BalanceHistory] ([username], [status], [amount], [reason], [date], [newBalance]) VALUES (N'tranhiwp', 1, 1000000, N'Deposit', CAST(N'2023-07-09T11:19:21.023' AS DateTime), 1000000)
INSERT [dbo].[BalanceHistory] ([username], [status], [amount], [reason], [date], [newBalance]) VALUES (N'tranhiwp', 0, 50000, N'Order', CAST(N'2023-07-09T11:20:42.687' AS DateTime), 950000)
INSERT [dbo].[BalanceHistory] ([username], [status], [amount], [reason], [date], [newBalance]) VALUES (N'tranhiwp', 0, 50000, N'Order', CAST(N'2023-07-10T10:47:53.187' AS DateTime), 850000)
GO
INSERT [dbo].[Cart] ([username], [productID], [quantity], [total]) VALUES (N'tranhiwp', 15, 5, 50000)
GO
INSERT [dbo].[CatalogList] ([catalogID], [catalogDisplayName], [catalogImg]) VALUES (N'canva', N'Canva Pro', N'https://freelogopng.com/images/all_img/1656733637logo-canva-png.png')
INSERT [dbo].[CatalogList] ([catalogID], [catalogDisplayName], [catalogImg]) VALUES (N'chatgpt', N'ChatGPT', N'https://shsroundtable.com/wp-content/uploads/2023/01/chat-gpt-logo.jpg')
INSERT [dbo].[CatalogList] ([catalogID], [catalogDisplayName], [catalogImg]) VALUES (N'facebook', N'Facebook', N'https://upload.wikimedia.org/wikipedia/commons/thumb/0/05/Facebook_Logo_%282019%29.png/1200px-Facebook_Logo_%282019%29.png')
GO
SET IDENTITY_INSERT [dbo].[DepositRequest] ON 

INSERT [dbo].[DepositRequest] ([requestID], [username], [amount], [date]) VALUES (4, N'tranhiwp', 200000, CAST(N'2023-07-20T00:03:31.833' AS DateTime))
SET IDENTITY_INSERT [dbo].[DepositRequest] OFF
GO
SET IDENTITY_INSERT [dbo].[OrdersHistory] ON 

INSERT [dbo].[OrdersHistory] ([orderID], [username], [accountID], [productID], [email], [password], [dueDate]) VALUES (14, N'steve', 22, 16, N'JCcKqKhCDwqKdQr', N'MzESDDHPyHzLpHH', CAST(N'2023-11-18T00:00:00.000' AS DateTime))
INSERT [dbo].[OrdersHistory] ([orderID], [username], [accountID], [productID], [email], [password], [dueDate]) VALUES (16, N'steve', 25, 15, N'FGVHBvsdxvivbs', N'YGBdsvxzndfbzb', CAST(N'2023-10-07T00:00:00.000' AS DateTime))
INSERT [dbo].[OrdersHistory] ([orderID], [username], [accountID], [productID], [email], [password], [dueDate]) VALUES (17, N'steve', 26, 15, N'gradsgfdbzcbsfg', N'sdzcbcxbdzxvzdx', CAST(N'2024-01-01T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[OrdersHistory] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductList] ON 

SET IDENTITY_INSERT [dbo].[ProductList] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductRate] ON 

INSERT [dbo].[ProductRate] ([rateID], [username], [productID], [star], [comment], [rateDate]) VALUES (10, N'tranhiwp', 25, 5, N'Uy tin so 1 Viet Nam', CAST(N'2023-07-13T07:57:29.443' AS DateTime))
INSERT [dbo].[ProductRate] ([rateID], [username], [productID], [star], [comment], [rateDate]) VALUES (13, N'tranhiwp', 14, 5, N'Uy tin khong can ban!', CAST(N'2023-07-14T17:28:05.923' AS DateTime))
INSERT [dbo].[ProductRate] ([rateID], [username], [productID], [star], [comment], [rateDate]) VALUES (14, N'steve', 15, 2, N'Tạm ổn', CAST(N'2023-07-14T22:06:06.697' AS DateTime))
SET IDENTITY_INSERT [dbo].[ProductRate] OFF
GO
INSERT [dbo].[RoleInformation] ([roleID], [roleName]) VALUES (0, N'User')
INSERT [dbo].[RoleInformation] ([roleID], [roleName]) VALUES (1, N'Admin')
INSERT [dbo].[RoleInformation] ([roleID], [roleName]) VALUES (2, N'Stock Managerment')
GO
INSERT [dbo].[UserBalance] ([username], [balance]) VALUES (N'admin', 200000)
INSERT [dbo].[UserBalance] ([username], [balance]) VALUES (N'hieptvhe173252', 100000)
INSERT [dbo].[UserBalance] ([username], [balance]) VALUES (N'steve', 1700000)
GO
INSERT [dbo].[Users] ([username], [password], [fullname], [email], [role], [isVerificated]) VALUES (N'admin', N'admin', N'Admin', N'hieptvhe173252@gmail.com', 1, 1)
INSERT [dbo].[Users] ([username], [password], [fullname], [email], [role], [isVerificated]) VALUES (N'admin2', N'admin2', N'Stock Manager', N'hieptran.pa@gmail.com', 2, 1)
INSERT [dbo].[Users] ([username], [password], [fullname], [email], [role], [isVerificated]) VALUES (N'admin3', N'admin3@', N'Accountant', N'hieptran.pa@gmail.com', 3, 1)
GO
ALTER TABLE [dbo].[AccountList]  WITH CHECK ADD FOREIGN KEY([productID])
REFERENCES [dbo].[ProductList] ([productID])
GO
ALTER TABLE [dbo].[BalanceHistory]  WITH CHECK ADD FOREIGN KEY([username])
REFERENCES [dbo].[Users] ([username])
GO
ALTER TABLE [dbo].[Cart]  WITH CHECK ADD FOREIGN KEY([productID])
REFERENCES [dbo].[ProductList] ([productID])
GO
ALTER TABLE [dbo].[Cart]  WITH CHECK ADD FOREIGN KEY([username])
REFERENCES [dbo].[Users] ([username])
GO
ALTER TABLE [dbo].[DepositHistory]  WITH CHECK ADD FOREIGN KEY([username])
REFERENCES [dbo].[Users] ([username])
GO
ALTER TABLE [dbo].[DepositRequest]  WITH CHECK ADD FOREIGN KEY([username])
REFERENCES [dbo].[Users] ([username])
GO
ALTER TABLE [dbo].[OrdersHistory]  WITH CHECK ADD FOREIGN KEY([productID])
REFERENCES [dbo].[ProductList] ([productID])
GO
ALTER TABLE [dbo].[OrdersHistory]  WITH CHECK ADD FOREIGN KEY([username])
REFERENCES [dbo].[Users] ([username])
GO
ALTER TABLE [dbo].[ProductList]  WITH CHECK ADD FOREIGN KEY([catalogID])
REFERENCES [dbo].[CatalogList] ([catalogID])
GO
ALTER TABLE [dbo].[ProductRate]  WITH CHECK ADD FOREIGN KEY([productID])
REFERENCES [dbo].[ProductList] ([productID])
GO
ALTER TABLE [dbo].[ProductRate]  WITH CHECK ADD FOREIGN KEY([username])
REFERENCES [dbo].[Users] ([username])
GO
ALTER TABLE [dbo].[UserBalance]  WITH CHECK ADD FOREIGN KEY([username])
REFERENCES [dbo].[Users] ([username])
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD FOREIGN KEY([role])
REFERENCES [dbo].[RoleInformation] ([roleID])
GO
USE [master]
GO
