<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>homepageImg</param-name>
        <param-value>https://play-lh.googleusercontent.com/2zXejhXz4Vwzk_04fEMrKmnpvlYhw5M4y4J5e8_61n-uj-kqEvR0aNx5WsPI8QQgpmoY=w3840-h2160-rw</param-value>
    </context-param>
    <context-param>
        <param-name>hompageCatalog</param-name>
        <param-value>quizlet</param-value>
    </context-param>
    <filter>
        <filter-name>UserSideFilter</filter-name>
        <filter-class>filter.UserSideFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>UserSideFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>HomePageServlet</servlet-name>
        <servlet-class>servlet.HomePageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewDetailServlet</servlet-name>
        <servlet-class>servlet.ViewDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendEmailServlet</servlet-name>
        <servlet-class>servlet.SendEmailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgotPasswordServlet</servlet-name>
        <servlet-class>servlet.ForgotPasswordServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HomePageServlet</servlet-name>
        <url-pattern>/homepage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewDetailServlet</servlet-name>
        <url-pattern>/viewDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendEmailServlet</servlet-name>
        <url-pattern>/SendEmailServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgotPasswordServlet</servlet-name>
        <url-pattern>/forgotPassword</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>homepage</welcome-file>
    </welcome-file-list>
    <error-page>
        <error-code>404</error-code>
        <location>/404.jsp</location>
    </error-page>
</web-app>
